{% extends "app/base.html" %}

{% load static %}

{% block title %}
Send Offer || Become a Buyer
{% endblock %}

{% block content %}
<!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Become a Buyer</h1>
              <span class="color-text-a">Off market investment opportunities for Real Estate investors. We buy and sell homes cash or with the help of private money lenders. Most of our homes for sale are fix and flips which make them a great investment opportunity for the right buyer.</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Send Offer
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->
    {% include "app/includes/become_a_buyer.html" %}

{% endblock %}