{% extends "app/base.html" %}

{% load static %}

{% block title %}
Joint Venture Form || InvestToBuild
{% endblock %}

{% block content %}
<!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Joint Venture Form</h1>
              <span class="color-text-a">All fields must be filled out for Joint Venture Review. Profit split will be 60/40, 40% going to joint venturer. <span style="color:red">Must have 14 days left in inspection period to be considered.</span></span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Joint Venture Form
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->
    {% include "app/includes/jv.html" %}

{% endblock %}