<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="{% url 'home' %}">Invest<span class="color-b">ToBuild</span></a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link {% if navbar == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if navbar == 'property' %}active{% endif %}" href="{% url 'property' %}">Property</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if navbar == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if navbar == 'send_offer' %}active{% endif %}" href="{% url 'become_a_buyer' %}">Become VIP Buyer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if navbar == 'jvform' %}active{% endif %}" href="{% url 'jvform' %}">JV Form</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="bi bi-person"></span> Hi, {{request.user.first_name}}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item " href="{% url 'profile' %}">Profile</a>
              <a class="dropdown-item " href="#">Change Password</a>
              <a class="dropdown-item " href="{% url 'logout' %}">Log Out</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>

      {% comment %} <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
        <i class="bi bi-search"></i>
      </button> {% endcomment %}

    </div>
  </nav>