<section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Our Services</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-briefcase"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Exclusive Deals</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  As a real estate investment firm, we pride ourselves on exclusive property deals allowing buyers to buy directly from the source. No middleman here!
                </p>
              </div>
              <div class="card-footer-c">
                <a href="{% url 'contact' %}" class="link-c link-icon">Read more
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-house-up-fill"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Opportunities</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Big opportunity! Thanks to the many property deals made over the years, we’re able to purchase properties at rock bottom prices and pass the savings on to you.
                </p>
              </div>
              <div class="card-footer-c">
                <a href="{% url 'contact' %}" class="link-c link-icon">Read more
                  <span class="bi bi-calendar4-week"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-card-checklist"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">No Bidding</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  We have a first-come, first-serve policy. The first real estate investor to sign a contract and offer a deposit is the one to secure the property. No bidding up prices here!
                </p>
              </div>
              <div class="card-footer-c">
                <a href="{% url 'contact' %}" class="link-c link-icon">Read more
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>